* {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
}

.opt-form {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.opt-radio {
  display: none;
}
.opt-radio + label {
  display: inline-block;
  width: 100%;
  font-size: 2em;
  color: #138db7;
  border: 2px solid #138db7;
}
.opt-radio + label:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.opt-radio + label:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.opt-radio + label > svg {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
}

.opt-radio:checked + label {
  background-color: #0b5f7c;
  color: #38ccff;
}

.opt-radio + label > svg > circle {
  stroke: #138db7;
}
.opt-radio + label > svg > rect {
  fill: #138db7;
}
.opt-radio:checked + label > svg > circle {
  stroke: #38ccff;
}
.opt-radio:checked + label > svg > rect {
  fill: #38ccff;
}